<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="data:,">
    <meta charset="UTF-8">
    <title>Simple Recorder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1>Please start a conversation with our Dummy Banking App.</h1>

    <h3>What should I ask the app?</h3>
    
    You can ask the app to do any of the following:
    <ul>
      <li> Enquire about your hypothetical last transaction</li>
      <li> Enquire about your account balance</li>
      <li> Ask the app the send money to someone</li>
      <li> Ask the app to withdraw money</li>
      <li> Ask the app to deposit money</li>
    </ul><br>

  <h3>Instructions :</h3>
    <ul>
      <li>Press 'Record' to begin recording</li>
      <li>Press 'Stop' to stop recording.</li>
      <li>What you said (Query) and the agent response (Response) will be displayed. Please respond accordingly by pressing record again.</li>
      <li>If the input audio was not recognized, please record the same thing again.</li>
      <li>Press 'yes' after you think the conversation is finished.</li>
    </ul><br>
    

    <h2>Conversation:</h2>
    <h3 id="demo"></h3><br>
    <div id="controls">
      <button id="recordButton">Record</button>
      <button id="stopButton" disabled>Stop</button>
     </div><br><br>

    <div id="myDiv">
      Is the conversation finished? <a href="#" id="yes" onclick="clickedYes()">Yes</a>
    </div><br><br><br><br><br>

    <p><strong>Conversation logs:</strong></p>
    <ol id="recordingsList"></ol>
    <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
    <script type="text/javascript">
      var name= {{ name|tojson }}
      var response = {{ response|tojson }}
      document.getElementById("demo").innerHTML = response
    </script>
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
    <script type="text/javascript" src="/static/js/app.js"></script>

  </body>
</html>
