<!DOCTYPE html>
<html>

  <head>
    <link rel="icon" href="data:,">
    <meta charset="UTF-8">
    <title>Simple Recorder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <h1>Hi.</h1>
    <h3>Please answer the following to go to the login page.</h3><br>
    
    <p>Do you already have a login ID?
        <a href="#" id="yes" onclick="clickedYes()">Yes</a>
        <a href="#" id="no" onclick="clickedNo()">No</a> 
    </p>
    
    
    <div id="container"/>
    <script type="text/javascript" src="/static/script.js"></script>
  </body>
</html>
