<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="data:,">
    <meta charset="UTF-8">
    <title>Simple Recorder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1>Recording Begins.</h1>

    <ul>
      <li>Press 'Record' to begin recording</li>
      <li>Press 'Stop' to stop recording.</li>
      <li>What you said (Query) and the agent response (Response) will be displayed below.</li>
      <li>The conversation is also logged as can be seen below.</li>
      <li>If the input audio was not recognized, you will be asked to record the same thing again.</li>
    </ul><br>
    
    <div id="controls">
     <button id="recordButton">Record</button>
     <button id="stopButton" disabled>Stop</button>
    </div>
    <div id="formats">Format: start recording to see sample rate</div>
    <h2 id="demo"></h2>

    <p><strong>Conversation logs:</strong></p>
    <ol id="recordingsList"></ol>
    <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
    <script type="text/javascript">
      var name= {{ name|tojson }}
      var response = {{ response|tojson }}
      document.getElementById("demo").innerHTML = response
    </script>
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
    <script type="text/javascript" src="/static/js/app.js"></script>

    <div class="myDiv">
      <h3>Is the conversation finished? </h3>
      <form method="POST" action="/decide_repeat">
        <input type="submit" value="Yes">
    </form>
    </div>
  </body>
</html>
