<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Simple Recorder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      .my-col {
          border: 1px solid black;
          text-align: center;
      }
    </style>

  
  </head>
  <body>
    <nav class="navbar bg-dark text-light "><h1>Please start a conversation with the Bank</h1></nav><br>

    <div class="container">


    <div class="container">  
      <row class="row">

        <div class="col-8">
        <h2>Instructions :</h2>
          <ul>
            <li>The Bank will ask you questions.</li>
            <li>Press 'Reply' to begin recording your reply.</li>
            <li>Press 'Stop' to stop recording.</li>
            <li>You can listen to your recording to check if audio was properly record. You can record again in case of errors.</li>
            <li>If you think your recording sounds okay, press 'Send to Bank'.</li>
            <li>The bank will respond by asking a question, please respond appropriately.</li>
            <li>Only after your conversation is finished, press 'yes'.</li>
          </ul><br>


        <h3>What should I ask the Bank?</h3>
          
          Please ask the app about any ONE of the following:
          <ul>
            <li> Ask to send money to someone</li>
            <li> Ask about your account balance</li>
            <li> Ask about your last transaction</li>
            <li> Ask to withdraw money</li>
            <li> Ask to deposit money</li>
          </ul><br>
        </div>
        <div class="col-4">
          How to use page : <br><br>
          <iframe width="400" height="260" src="https://www.youtube.com/embed/7wwwBWCDp9E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </row>
    </div>

      <div class="container my-container">

        <row class="row">
          <div class="col-2"></div>
          <div class="col-8">
            <h2>Conversation Box:</h2>

          </div>
          <div class="col-2"></div>

        </row>

        <row class="row my-row">
          <div class="col-2"></div>
          <div class="col-8 my-col">
            <br>
            <h3 id="demo"></h3><br>
            <div id="controls">
              <button id="recordButton">Reply</button>
              <button id="stopButton" disabled>Stop</button>

              <div id="checkrecording"></div>

              <div id="mymessage"></div>
            </div><br><br>

          </div>
          <div class="col-2"></div>
        </row>

        <row class="row">
          <div class="col-3">
            <br><br>
            <div id="myDiv">
              Is the conversation finished? <a href="#" id="yes" onclick="clickedYes()">Yes</a>
            </div>
          </div>
          <div class="col-3">
          </div>
          <div class="col-6">
            <br><br>
            <p><strong>Conversation logs:</strong></p>
            <ol id="recordingsList"></ol>
            <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
            <script type="text/javascript">
              var name= {{ name|tojson }}
              var response = {{ response|tojson }}
              document.getElementById("demo").innerHTML = response
            </script>
            <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
            <script type="text/javascript" src="/static/js/app.js"></script>

          </div>

        </row>
      </div>



    </div>
  </body>
</html>
