<!DOCTYPE html>
<html>

  <head>
    <link rel="icon" href="data:,">
    <meta charset="UTF-8">
    <title>Simple Recorder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <h1>Thanks for recording.</h1><br>

    <h2>What's next?</h2>
    You will be asked to re-record your messages in a second Indian Language if you speak one.<br><br><br><br><br><br>

    <h3>Do you speak any other Indian Language apart from Hindi?<br>
        <a href="#" id="yes" onclick="clickedYes()">Yes</a>
        <a href="#" id="no" onclick="clickedNo()">No</a> 
    </h3>

    <div id="container"/>
    <script type="text/javascript" src="/static/decide_repeat.js"></script>
  </body>
</html>
