<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="icon" href="data:,">
    <meta charset="UTF-8">
    <title>Simple Recorder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <nav class="navbar bg-dark text-light "><h1>Thanks for recording.</h1></nav><br>
    
    <div class="container">

      <h2>What's next?</h2>
      You will be asked to re-record your messages in a second Indian Language, if you speak one.<br><br><br><br><br><br>

      <h3>Do you speak any other Indian Language apart from Hindi?<br>
          <a href="#" id="yes" onclick="clickedYes()">Yes</a>
          <a href="#" id="no" onclick="clickedNo()">No</a> 
      </h3>

      <div id="container"/>
      <script type="text/javascript" src="/static/decide_repeat.js"></script>

    </div>
  </body>
</html>
